<!doctype html>

<html>
<head>
	<title>ZXZ Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
     <!--  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"> -->
      <link rel="stylesheet" type="text/css" href="css/cleanup.css">
      <link rel="stylesheet" type="text/css" href="css/portfolio.css">

</head>

<body>
    <header id="mainTitle">
      <h1>
        <a href="/">
          Zhen<span id="x">x</span>
          <br>
          Zheng
          <br>
        </a>
        <span>[Portfolio]</span>
      </h1>
  </header>

  <div class="clear"></div>

  <section id="nav">
    
    <section class="wrap-one-third">
      <div id="{{Resume.title}}">
        <a href="{{Resume.link}}" target="_blank">
          <svg id="resumeSVG">
            <g>
              <path id="resumeBG" d="M0 0 L0 100 L80 100 L80 20 L60 0 Z"/>
              <rect class="resumeLine" ry="0.5" rx="0.5" height="7" width="25" y="17.5" x="10"/>
              <rect class="resumeLine" ry="0.5" rx="0.5" height="7" width="60" y="33" x="10"/>
              <rect class="resumeLine" ry="0.5" rx="0.5" height="7" width="60" y="46" x="10"/>
              <rect class="resumeLine" ry="0.5" rx="0.5" height="7" width="60" y="59" x="10"/>
              <rect class="resumeLine" ry="0.5" rx="0.5" height="7" width="60" y="72" x="10"/>
            </g>
          </svg>
          <h4>{{Resume.title}}</h4>
        </a>
      </div>
    </section>
   
    <section class="wrap-one-third">
      <div id="{{Projects.title}}">
        <a href="{{Projects.link}}">
          <svg id="projectsSVG">
            <g>
              <path id="hammer" d="m29.6514,100.066c2.5361,-0.016 6.5213,0.963 8.1719,-1.0223c1.0878,-1.293 0.2112,-4.943 0.1835,-7.091c-0.1987,-16.14899 -0.7513,-34.3457 -2.1235,-49.4441c-0.2899,-0.554 -0.2197,-1.1369 -1.0508,-1.6604c0.4259,-6.1655 -0.3108,-12.3101 0.1056,-19.1394c0.1281,-2.1694 -0.0604,-4.9865 0.9858,-6.3732l2.0079,-2.4172c2.8269,-2.5486 5.2276,-3.7674 8.651,-2.7688c1.7391,0.513 3.234,2.0784 4.9307,2.6023c1.1518,0.363 5.0051,0.7208 5.9244,-0.1278c0.7136,-0.6593 0.9611,-1.8548 0.989,-3.2214l0.068,-4.8122c0.0101,-1.3648 -0.2031,-2.5607 -0.897,-3.2414c-0.8935,-0.8772 -4.7577,-0.6311 -5.9221,-0.3007c-1.7122,0.476 -3.2417,1.9968 -4.9968,2.4619c-3.4532,0.9037 -5.8189,-0.3808 -8.5731,-3.0183c-9.9443,-0.492 -21.7044,1.9567 -31.6641,11.9435c-2.7018,2.7098 -5.3975,5.1041 -6.4418,8.284c0.2027,1.4242 1.1706,1.2222 2.0465,0.7455c-0.3615,0.9916 -1.2878,1.9403 0.1302,3.0819c5.5278,-7.1484 19.0531,-15.6947 23.5915,-9.3549c1.0062,1.4123 0.7413,4.2216 0.8105,6.3918c0.2198,6.8456 -0.6869,12.9656 -0.4369,19.1382c-0.843,0.5041 -0.7927,1.0832 -1.0932,1.6377c-1.797,15.0538 -2.8665,33.224 -3.5199,49.364c-0.0875,2.147 -1.0637,5.762 -0.0151,7.086c1.5967,2.0293 5.5997,1.2673 8.1379,1.2563l0,0l-0.0001,0l0,0l0,0l0,0l0,0z"/>
              <path id="ranch" d="m51.4053,79.0437c0.0068,9.155 5.2891,17.055 12.9599,20.883l-0.1461,-18.52499l10.4816,-6.06551l10.4916,6.0465l0.146,18.481c7.609,-3.864 12.83099,-11.747 12.821,-20.863c-0.009,-9.6131 -5.827,-17.8619 -14.123,-21.4448l-0.042,-47.90382c-0.003,-5.0958 -4.138,-9.2234 -9.233,-9.2194c-5.0931,0.006 -9.2214,4.1381 -9.2183,9.2339l0.0461,47.85242c-8.3463,3.579 -14.1921,11.8687 -14.1838,21.5247l0,0l0,0l0,0l0,0l0,0l0,0z"/>
            </g>
          </svg>
          <h4>{{Projects.title}}</h4>
        </a>
      </div>
    </section>

    <section class="wrap-one-third">
      <div id="{{About.title}}">
        <a href="{{About.link}}">
          <svg id="aboutSVG">
            <g>
              <path id="avatar" d="m50.55737,46.95286c-2.5731,-4.64896 -5.72301,-8.41354 -8.88117,-11.04541c-3.68465,2.69927 -8.17355,4.34158 -13.06676,4.34158c-4.90157,0 -9.39465,-1.64658 -13.07503,-4.34158c-3.15826,2.63187 -6.30806,6.39655 -8.88943,11.04541c-5.98805,10.7928 -6.64498,21.86344 -1.4739,24.73539c2.31613,1.29277 4.74578,0.32846 7.25558,-2.08867c-0.44209,2.45074 -0.69898,5.10765 -0.69898,7.88725c0,12.34612 4.7963,22.34809 10.7085,22.34809c3.56248,0 5.32695,-3.64249 6.17326,-9.21859c0.8465,5.5761 2.61089,9.21859 6.16072,9.21859c5.92066,0 10.71696,-10.00198 10.71696,-22.34809c0,-2.77959 -0.25689,-5.43651 -0.70744,-7.88725c2.51814,2.41703 4.94373,3.38144 7.26392,2.08867c5.17048,-2.87273 4.50243,-13.94378 -1.48623,-24.73539l0,0zm-21.9528,-10.91528c9.94627,0 18.01456,-8.06827 18.01456,-18.01884s-8.06828,-18.01874 -18.01456,-18.01874c-9.95058,0 -18.02303,8.06827 -18.02303,18.01874s8.07325,18.01884 18.02303,18.01884z"/>
            </g>
          </svg>
          <h4>{{About.title}}</h4>
        </a>
      </div>
    </section>
    
  </section>

  <div class="clear"></div>

  <section id="content">
  </section>

  <div id="shortcutLeft">
    <svg width="100" height="100">
      <path id="ArrowLeft" fill="#000000" d="m77.14286,24.48514l-25.33125,25.33091l25.33125,25.33051l-14.47813,14.4812l-39.80759,-39.81171l39.80759,-39.81605"/>
    </svg>
  </div>
  <div id="shortcutRight">
    <svg width="100" height="100">
      <path id="ArrowRight" fill="#000000" d="m22.85832,75.13153l25.32822,-25.32808l-25.32822,-25.32789l14.47528,-14.47556l39.80808,39.80345l-39.80808,39.8156"/>
    </svg>
  </div>

  <div id="shortcutHome">
    <svg width="100" height="100">
      <path id="home" fill="#000000" d="m78.22956,49.58181l-7.3819,-7.3818v-17.6299h-6.3283v11.3017l-14.7661,-14.7661l-28.4761,28.4761l6.7792,-0.1614v28.78949h43.0927v-28.62809h7.0805l0,0zm-28.4763,24.51039h-14.0621v-16.87549h14.0621v16.87549l0,0zm13.6619,-7.2326h-9.2405v-9.74439h9.2405v9.74439l0,0z"/>
    </svg>
  </div>

  <div id="shortcutX">
    <svg width="100" height="100">
      <path id="xbutton" fill="#000000" d="m78.18834,68.61804l-18.61628,-18.61629l18.61288,-18.61628l-9.5688,-9.57545l-18.61623,18.61629l-18.61632,-18.61629l-9.56854,9.57545l18.61291,18.61628l-18.6163,18.61629l9.57532,9.57193l18.61293,-18.61615l18.61284,18.61615" />
    </svg>
  </div>

  <section id="contact">
    <article>
      <div class="wrap-one-third">
        <h2>contact me:</h2>
      </div>
      <div class="wrap-one-third">
        <h2>(323)543-1723</h2>
      </div>
      <div class="wrap-one-third">
        <h2>zhenxzheng@gmail.com</h2>
      </div>
    </article>
  </section>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/portfolio.js"></script>
</body>
</html>
