<!doctype html>

<html>
<head>
	<title>ZXZ Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
     <!--  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"> -->
      <link rel="stylesheet" type="text/css" href="css/cleanup.css">
      <link rel="stylesheet" type="text/css" href="css/portfolio.css">

</head>

<body>
  <!-- Splash Message -->
    <header id="mainTitle">
      <h1>
        <a href="/">
          Zhen<span id="x">x</span>
          <br>
          Zheng
          <br>
        </a>
        <span>[Portfolio]</span>
      </h1>
  </header>

  <!-- Content -->
  <section id="nav">
    <a href="{{Resume.link}}" target="_blank">
      <section id="{{Resume.title}}">
        <svg id="resumeSVG">
          <g>
            <path id="resumeBG" d="M35 25 L35 125 L115 125 L115 45 L95 25 Z"/>
            <rect class="resumeLine" ry="0.5" rx="0.5" height="7" width="25" y="42.5" x="45"/>
            <rect class="resumeLine" ry="0.5" rx="0.5" height="7" width="60" y="58" x="45"/>
            <rect class="resumeLine" ry="0.5" rx="0.5" height="7" width="60" y="71" x="45"/>
            <rect class="resumeLine" ry="0.5" rx="0.5" height="7" width="60" y="84" x="45"/>
            <rect class="resumeLine" ry="0.5" rx="0.5" height="7" width="60" y="97" x="45"/>
          </g>
        </svg>
        <h4>{{Resume.title}}</h4>
      </section>
    </a>

    <a href="{{Projects.link}}">
      <section id="{{Projects.title}}">
        <svg id="projectsSVG">
          <g>
            <path id="hammer" d="m53.24608,124.63285c2.5361,-0.01601 6.5213,0.96329 8.1719,-1.0218c1.0878,-1.2934 0.2112,-4.943 0.1835,-7.0906c-0.1987,-16.1492 -0.7513,-34.3461 -2.1235,-49.4446c-0.2899,-0.554 -0.2197,-1.1368 -1.0508,-1.6604c0.4259,-6.1655 -0.3108,-12.3101 0.1056,-19.1394c0.12811,-2.1694 -0.06039,-4.9865 0.9858,-6.3732l2.0079,-2.4171c2.8269,-2.54867 5.2276,-3.76747 8.651,-2.76882c1.7391,0.51292 3.23399,2.07842 4.93069,2.60232c1.1518,0.3629 5.0051,0.7207 5.9244,-0.1278c0.7136,-0.6594 0.9611,-1.8549 0.989,-3.22147l0.068,-4.81215c0.0101,-1.3648 -0.20309,-2.5607 -0.897,-3.24139c-0.8935,-0.87722 -4.75771,-0.63118 -5.9221,-0.30071c-1.7122,0.47592 -3.2417,1.99677 -4.9968,2.46184c-3.4532,0.90377 -5.8189,-0.38075 -8.5731,-3.01828c-9.9443,-0.49203 -21.7044,1.95675 -31.66409,11.94356c-2.70179,2.7097 -5.39746,5.1041 -6.44181,8.2839c0.20275,1.4243 1.17059,1.2223 2.04656,0.7456c-0.36154,0.9916 -1.2878,1.9403 0.13019,3.0818c5.52776,-7.1484 19.05305,-15.69461 23.59145,-9.3549c1.0062,1.4124 0.7413,4.2217 0.8105,6.3919c0.2198,6.8456 -0.6869,12.9656 -0.4369,19.1381c-0.843,0.5041 -0.7927,1.0832 -1.0932,1.6378c-1.797,15.0537 -2.8665,33.2242 -3.5199,49.3635c-0.0875,2.1479 -1.0637,5.76289 -0.0151,7.086c1.5967,2.0296 5.5997,1.2679 8.1379,1.2562l0,0l-0.0001,0.00011l0,0l0,0z"/>
            <path id="ranch" d="m75.00001,103.61113c0.0068,9.1545 5.2891,17.055 12.9599,20.8831l-0.1461,-18.5256l10.4816,-6.06509l10.492,6.046l0.1458,18.4816c7.6088,-3.8642 12.8311,-11.7474 12.8211,-20.8629c-0.009,-9.6133 -5.827,-17.8621 -14.1231,-21.445l-0.0425,-47.90385c-0.0029,-5.0958 -4.1378,-9.22336 -9.2327,-9.21938c-5.09309,0.00602 -9.2214,4.13804 -9.21829,9.23392l0.0461,47.85241c-8.3463,3.579 -14.1921,11.8687 -14.1838,21.52489l0,0l0,0l0,-0.0001l0,0z"/>
          </g>
        </svg>
        <h4>{{Projects.title}}</h4>
      </section>
    </a>

    <a href="{{About.link}}">
      <section id="{{About.title}}">
        <svg id="aboutSVG">
          <g>
            <path id="avatar" d="m96.95269,72.0354c-2.5731,-4.64896 -5.72301,-8.41354 -8.88117,-11.04541c-3.68465,2.69927 -8.17355,4.34158 -13.06676,4.34158c-4.90157,0 -9.39465,-1.64658 -13.07503,-4.34158c-3.15826,2.63187 -6.30806,6.39655 -8.88943,11.04541c-5.98805,10.7928 -6.64498,21.86344 -1.4739,24.73539c2.31613,1.29277 4.74578,0.32846 7.25558,-2.08867c-0.44209,2.45074 -0.69898,5.10765 -0.69898,7.88725c0,12.34612 4.7963,22.34809 10.7085,22.34809c3.56248,0 5.32695,-3.64249 6.17326,-9.21859c0.8465,5.5761 2.61089,9.21859 6.16072,9.21859c5.92066,0 10.71696,-10.00197 10.71696,-22.34809c0,-2.77959 -0.25689,-5.43651 -0.70744,-7.88725c2.51814,2.41703 4.94373,3.38144 7.26392,2.08867c5.17048,-2.87273 4.50243,-13.94379 -1.48623,-24.73539l0,0zm-21.9528,-10.91528c9.94627,0 18.01456,-8.06827 18.01456,-18.01884s-8.06828,-18.01874 -18.01456,-18.01874c-9.95058,0 -18.02303,8.06827 -18.02303,18.01874s8.07325,18.01884 18.02303,18.01884z"/>
          </g>
        </svg>
        <h4>{{About.title}}</h4>
      </section>
    </a>
  </section>
  <div class="clean"></div>
  <section id="content">
  </section>
  <div id="shortcutLeft">
    <svg width="100" height="100">
      <path id="ArrowLeft" fill="#000000" d="m77.14286,24.48514l-25.33125,25.33091l25.33125,25.33051l-14.47813,14.4812l-39.80759,-39.81171l39.80759,-39.81605"/>
    </svg>
  </div>
  <div id="shortcutRight">
    <svg width="100" height="100">
      <path id="ArrowRight" fill="#000000" d="m22.85832,75.13153l25.32822,-25.32808l-25.32822,-25.32789l14.47528,-14.47556l39.80808,39.80345l-39.80808,39.8156"/>
    </svg>
  </div>
  <div id="shortcutX">
    <svg width="100" height="100">
  <path id="xbutton" fill="#000000" d="m78.18834,68.61804l-18.61628,-18.61629l18.61288,-18.61628l-9.5688,-9.57545l-18.61623,18.61629l-18.61632,-18.61629l-9.56854,9.57545l18.61291,18.61628l-18.6163,18.61629l9.57532,9.57193l18.61293,-18.61615l18.61284,18.61615" />
</svg>
  </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/portfolio.js"></script>
</body>
</html>
